h1{
    color :lightskyblue;
    background-color :black;
    text-decoration :bold;
    font-style: initial;
}
span{
    color :white;
}
h2{
    color :white;
    background-color: purple;
    text-align: center;
    font-style: italic;
}
h3{
    background-color: lightblue;
    text-decoration: underline;
    text-align: right;
}